body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #9e6ad5, #739de5);
  color: white;
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
  min-height: 100vh;         /* full screen height */
  text-align: center;
}

.app {
  width: 100%;
  max-width: 1200px;
}

header {
  padding: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
}
